schema/xml-schema/satellite.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="satellite">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="actual" type="xsd:int" />
        <xsd:element name="maxFuture" type="xsd:int" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
